.panel {
    border: 1px solid #CCC;
    background: #FFF;
    box-shadow: 2px 3px 3px #ccc;
    margin: 1rem 0;
}

input,button {
    height: 50px;
}

.form-container {
    display: block;
    width: 375px;
    margin: 0 auto;
}

.form-container label {
    float: left;
    font-weight: 900;
}

.btn-secondary {
    background-color: #4E800F;
    min-width: 250px;
    font-size: 18px;
}

.btn-secondary:hover,.btn-secondary:active,.btn-secondary:focus {
    background-color: #2C4B04;
}

button.btn.btn-secondary.next {
    min-width: 250px;
    margin: 40px 0;
}