@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  background-color: #E4E4E4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
